.header{
     background-color: rgb(7, 76, 167);
     width: 100%;
     height: 85px;
}
body{
    margin: 0;
    font-family:Helvetica Neue, Helvetica,Arial, sans-serif ;

}
.logo{
    width: 50%;
    padding-top: 32px;
    float: left;
}
.login{
    width: 50%;
    float:left;
}
.logo-text{
    color: #ffff;
font-size: 35px;
font-weight: bold;    
text-decoration: none;
font-family:  Helvetica Neue, Helvetica,Arial, sans-serif ;
text-decoration-style: initial;
margin-left: 170px; 
}
.login-label{
    color: #fff;
    font-size: 11px;
}
.login-control{
    margin-left: 115px;
}
.login{
    padding-top: 10px;
}
.forgotten{
    color: #fff;
    font-size: 11px;
    text-decoration: none;
    color: #9cb4d8;
}
.sub-btn{
    background: #4267b2;
    color: #fff;
    height: 20px;
    border-color: #29487d;
    cursor: pointer;   
}
.sub-btn:hover{
    background: rgba(255, 255, 255, 0.644);
}
.left-section{
    width:50%;
    float:left;
    padding-left:134px;
    padding-top: 52px;
}
.right-section{
    width:%;
    float:left;
}
.main-body{
    background:linear-gradient(white,#D3D8E8);
    height: 800px;
    width: 100%;
}
.image{
    width: 50px;
}
.para{
    font-weight: bold;
    font-size: 21px;
}
.image{
    width: 581px;

}
.para{
    font-weight: bold;
    font-size: 21px;
    color:#032185;


}
.para2{
    font-size: 36px;
    font-weight: bold;
}
.para3{
    font-size:20px;
    font-weight: 600;
    
}
.bdp1{
    font-size: initial;
}
.para4{
    font-size: 15px;
}
.sub-btn2{
    background-color: rgb(19, 194, 72);
   border: none;
   color:#fff;
   padding: 15px 32px;
   text-align: center;
    font-size :13px;
    font-weight: bold;
    border-radius: 5px;
    border-color: antiquewhite;"
    
}